<body id="signup-page">

  <h1>Sign Up</h1>

  <form action="/signup" method="post">
    <%= token_tag %>
    <div>
       <label for="username">Username:</label>
       <input type="text" id="username" name="user[username]" />
   </div>
   <div>
     <label for="password">Password:</label>
     <input type="text" id="password" name="user[password]"/>
   </div>
   <div>
     <label for="mail">Email:</label>
     <input type="text" id="mail" name="user[mail]"/>
   </div>
   <div class="button">
     <button type="submit">Sign Up</button>
   </div>
  </form>

</body>
