<h1>Log In</h1>

<form action="/login" method="post">
  <div>
     <label for="username">Username:</label>
     <input type="text" id="username" />
 </div>
 <div>
   <label for="password">Password:</label>
   <input type="text" id="password" />
 </div>
 <div class="button">
   <button type="submit">Log In</button>
 </div>
</form>

<h1>Sign Up</h1>

<form action="/signup" method="post">
  <div>
     <label for="username">Username:</label>
     <input type="text" id="username" />
 </div>
 <div>
   <label for="password">Password:</label>
   <input type="text" id="password" />
 </div>
 <div>
   <label for="mail">Email:</label>
   <input type="text" id="mail" />
 </div>
 <div class="button">
   <button type="submit">Sign Up</button>
 </div>
</form>
