/*// Place all the styles related to the Vocabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
  display: inline-block;
}

h3 {
  text-align: center;

}
h5 {
  text-align: center;
}
h6 {
  text-align: center;
}
