<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.7.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.7.0/mapbox-gl.css' rel='stylesheet' />

    <!-- For bootstrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An interactive travel app that lets you travel effortlessly like a local.">
    <meta name="author" content="Julia Chrusciel">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- End of bootstrap head -->

    <!-- <link href="style.css" rel=stylesheet> -->

    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
        ul { list-style-type: none; margin: 0; padding: 0; }
    </style>
</head>
<body>

  <!-- nav bar code begins -->
  <!-- <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-align-justify"></span>
              </a>
              <a class="navbar-brand" href="#">My App Title</a>
            </div> -->
            <!-- end navbar branding -->
            <!-- <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Contacts</a></li>
                <li><a href="/">Sign Up</a></li>
              </ul>
            </div> -->
            <!-- end navbar links -->
            <!-- <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span class="caret"></span>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                <li role="presentation" class="dropdown-header">Dropdown header</li>
              </ul>
            </div> -->
      <!-- nav bar ends -->




<div id='map'></div>
<script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>

<!-- <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' /> -->

<script>




mapboxgl.accessToken = 'pk.eyJ1IjoianVjaHJ1IiwiYSI6IjZhYzFkMThlODBjNDY1N2NkNGZiZTVlMjI4MTU2OTY1In0.N1IDr2cpaPyTtanV-K2wdw';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'https://www.mapbox.com/mapbox-gl-styles/styles/outdoors-v7.json',
  center: [41.036635, 29.016952],
  zoom: 11.35,
  minZoom: 11.35
});
//
// var marker = mapboxgl.Marker(([40.9869, 29.036699]){
//   icon: mapboxgl.marker.icon({
//     'marker-color': '#9c89cc'
//   })
// })
//     click([40.9869, 29.036699]),
//   .interactive: true,
//   .bindPopup()
//
//
// });


// var marker = L.marker([40.9869, 29.036699], {
//       icon: L.mapbox.marker.icon({
//         'marker-color': '#9c89cc'
//       })
//     })
//     .bindPopup("<h3>Say hi!</h3>")
//     .addTo(map);


// var marker = mapboxgl.marker([40.9869, 29.036699], {
//       icon: mapboxgl.marker.icon({
//         'marker-color': '#9c89cc'
//       })
//     })
//     .click(event)
//     .bindPopup('<button class="trigger">Say hi</button>')
//     .addTo(map);

// // The HTML we put in bindPopup doesn't exist yet, so we can't just say
// // $('#mybutton'). Instead, we listen for click events on the map element which
// // will bubble up from the tooltip, once it's created and someone clicks on it.
// $('#map').on('click', '.trigger', function() {
//     alert('Hello from Toronto!');
// });




//
// map.on('style.load', function() {
//   map.addSource("markers", {
//     "type": "geojson",
//       "data": {
//         "type": "FeatureCollection",
//           "features": [{
//
//             //Begins Central Beyoglu Point
//             "type": "Feature",
//             "geometry": {
//               "type": "Point",
//               "coordinates": [28.977499, 41.0369]
//           },
//
//           "properties": {
//             "title": "Central Beyoglu",
//             "description": "hello Bae",
//             "marker-symbol": "monument"
//           }
//
//         }, { //End of Central Beyoglu and Begins Central Kadikoy Point
//           "type": "Feature",
//           "geometry": {
//             "type": "Point",
//             "coordinates": [29.036699, 40.9869]
//         },
//
//         "properties": {
//           "title": "Central Kadikoy",
//           "description": "hello Kadikoy",
//           "marker-symbol": "monument"
//         }
//       }, { //End of Central Kadikoy and Begins Central Hisar Ustu-Bebek Point
//         "type": "Feature",
//         "geometry": {
//           "type": "Point",
//           "coordinates": [29.052571999999998, 41.081081]
//       },
//
//       "properties": {
//         "title": "Central Hisarustu-Bebek",
//         "description": "hello HUB",
//         "marker-symbol": "monument"
//       }
//     }, {  // Begins Kadikoy Tour Points
//                  "type": "Feature",
//                  "geometry": {
//                    "type": "Point",
//                    "coordinates": [29.022928, 40.992807]
//                  },
//
//                  "properties": {
//                    "title": "Kadikoy Ferry Station (with service to Besiktas Ferry Station and Eminonu Ferry Station)",
//                    "description": "Kadikoy, possibly the most exciting neighborhood on the Asian sigde, is known for its modern and alternative cultural scene. Off the common tourist path on the European side, most visitors to Istanbul do not experience this gem. I would recommend taking the ferry from Eminonu to Kadikoy to get a taste of a more authentic Turkish experience as lived by a local, both literally and figuratively. ",
//                    "marker-symbol": "star"
//                }
//
//              }, { //End of Ferry point and beginning of Lokum
//                "type": "Feature",
//                "geometry": {
//                  "type": "Point",
//                  "coordinates": [29.023832, 40.990199]
//              },
//
//              "properties": {
//                "title": "Ali Muhiddin Haci Bekir Lokum (Turkish Delight) Shop",
//                "description": "Osmanağa Mah. Muvakkithane Sok. 6/A, Osmanağa/İstanbul - Asya, Turkey A family owned business with a Turkish Delight making tradition dating back 200 years to the late Ottoman Empire, this shop produced candies and sweets in traditional Turkish flavors such as rose, lemon and mint. For the uninitiated whose only knowledge of Turkish Delight is as the sweet which tempted Edmund to betray his whole family in The Lion, The Witch and the Wardrobe, lokum is small cubes of jelly candy - like your favorite gummy bears but in more sophisticated flavors.",
//                "marker-symbol": "star"
//              }
//
//            }, { //End of Lokum and beginning of Ciya
//              "type": "Feature",
//              "geometry": {
//                "type": "Point",
//                "coordinates": [29.024057, 40.989082]
//            },
//
//            "properties": {
//              "title": "Ciya Kebab Lokantasi (Restaurant)",
//              "description": "An excellent restaurant with a modern take on Southeastern Turkish cuisine, the original venue got a boost in business after a favorable New York Times review a few years back. There are three restaurants on this street by the same name, but make sure to go to the larger one which offers both meze, the Turkish equivalent of small plates or tapas, and kebabs which feature pistachios, tomatoes and mushrooms. Finish off your meal with a kabak tatlisi , or candied pumpkin dessert, and a glass of Turkish tea. Notably, Ciya is also one of the first restaurants in Turkey to employ female servers.",
//              "marker-symbol": "star"
//            }
//
//     }]
//   }
//
// });
//
//
// map.addLayer({
//     "id": "markers",
//     "type": "symbol",
//     "source": "markers",
//     "layout": {
//       "icon-image": "{marker-symbol}-12",
//       "text-field": "{title}",
//       "text-font": "Open Sans Semibold, Arial Unicode MS Bold",
//       "text-offset": [0, 0.6],
//       "text-anchor": "top"
//     },
//     "paint": {
//       "text-size": 12
//     }
//   });
// });
//
// //////////Line For Kadikoy Tour
// /////////////////////////////
// map.on('style.load', function() {
//   map.addSource("route", {
//     "type": "geojson",
//
//     //line for Tour
//     "data": {
//       "type": "Feature",
//       "properties": {},
//       "geometry": {
//         "type": "LineString",
//         "coordinates": [
//           [29.022939, 40.992815],
//           [29.023507, 40.992548],
//           [29.024033, 40.991811],
//           [29.024183, 40.991511],
//           [29.023958, 40.991034],
//           [29.024741, 40.990669],
//           [29.024333, 40.990135],
//           [29.023894, 40.990191],
//           [29.024248, 40.990005],
//           [29.023958, 40.989657],
//           [29.024505, 40.989479],
//           [29.024076, 40.98913]
//         ]
//       }
//     }
//   });
//
//
//   map.addLayer({
//     "id": "route",
//     "type": "line",
//     "source": "route",
//     "layout": {
//       "line-join": "round",
//       "line-cap": "round"
//     },
//     "paint": {
//       "line-color": "#0000ff",
//       "line-width": 2
//     }
//   });
//
//
//
// //////////Line For Kadikoy Market Area
// /////////////////////////////
//   map.addSource("market", {
//     "type": "geojson",
//
//     //line for kadikoy market area
//     "data": {
//       "type": "Feature",
//       "properties": {},
//       "geometry": {
//         "type": "LineString",
//         "coordinates": [
//           [29.022134, 40.989179],
//           [29.023314, 40.990418],
//           [29.023164, 40.990532],
//           [29.0237, 40.99109],
//           [29.023936, 40.991017],
//           [29.024151, 40.991293],
//           [29.026361, 40.990888],
//           [29.026286, 40.989859],
//           [29.025996, 40.98943],
//           [29.025063, 40.989519],
//           [29.024655, 40.988823],
//           [29.025149, 40.987802],
//           [29.024548,40.987786],
//           [29.024055, 40.987883],
//           [29.022115, 40.989185],
//           [29.022129, 40.989179],
//           [29.022139, 40.989185]
//         ]
//       }
//     }
//   });
//
//   map.addLayer({
//     "id": "market",
//     "type": "line",
//     "source": "market",
//     "layout": {
//       "line-join": "round",
//       "line-cap": "round"
//     },
//     "paint": {
//       "line-color": "#ff0000",
//       "line-width": 2
//     }
//   });
// });




// //Code for making a marker cluster
// var markers = new L.MarkerClusterGroup();
//
//    for (var i = 0; i < addressPoints.length; i++) {
//        var a = addressPoints[i];
//        var title = a[2];
//        var marker = L.marker(new L.LatLng(a[0], a[1]), {
//            icon: L.mapbox.marker.icon({'marker-symbol': 'post', 'marker-color': '0044FF'}),
//            title: title
//        });
//        marker.bindPopup(title);
//        markers.addLayer(marker);
//    }
//
//    map.addLayer(markers);
//
//
// //template for making marker clusters for neighborhood tours
//
// map.on('style.load', function() {
//   map.addSource("markers", {
//     "type": "geojson",
//       "data": {
//         "type": "FeatureCollection",
//           "features": [{
//
//             //Begins Kadikoy Tour Points
//             "type": "Feature",
//             "geometry": {
//               "type": "Point",
//               "coordinates": [29.022928, 40.992807]
//             },
//
//             "properties": {
//               "title": "Kadikoy Ferry Station (with service to Besiktas Ferry Station and Eminonu Ferry Station)",
//               "description": "Kadikoy, possibly the most exciting neighborhood on the Asian sigde, is known for its modern and alternative cultural scene. Off the common tourist path on the European side, most visitors to Istanbul do not experience this gem. I would recommend taking the ferry from Eminonu to Kadikoy to get a taste of a more authentic Turkish experience as lived by a local, both literally and figuratively. ",
//               "marker-size": "medium",
//               "marker-color": "#1087bf",
//               "marker-symbol": "marker-stroked"
//           }
//
//         }, { //End of Ferry point and beginning of Lokum
//           "type": "Feature",
//           "geometry": {
//             "type": "Point",
//             "coordinates": [29.023832, 40.990199]
//         },
//
//         "properties": {
//           "title": "Ali Muhiddin Haci Bekir Lokum (Turkish Delight) Shop",
//           "description": "Osmanağa Mah. Muvakkithane Sok. 6/A, Osmanağa/İstanbul - Asya, Turkey A family owned business with a Turkish Delight making tradition dating back 200 years to the late Ottoman Empire, this shop produced candies and sweets in traditional Turkish flavors such as rose, lemon and mint. For the uninitiated whose only knowledge of Turkish Delight is as the sweet which tempted Edmund to betray his whole family in The Lion, The Witch and the Wardrobe, lokum is small cubes of jelly candy - like your favorite gummy bears but in more sophisticated flavors.",
//           "marker-size": "medium",
//           "marker-color": "#1087bf",
//           "marker-symbol": "marker-stroked"
//         }
//
//       }, { //End of Lokum and beginning of Ciya
//         "type": "Feature",
//         "geometry": {
//           "type": "Point",
//           "coordinates": [29.024057, 40.989082]
//       },
//
//       "properties": {
//         "title": "Ciya Kebab Lokantasi (Restaurant)",
//         "description": "An excellent restaurant with a modern take on Southeastern Turkish cuisine, the original venue got a boost in business after a favorable New York Times review a few years back. There are three restaurants on this street by the same name, but make sure to go to the larger one which offers both meze, the Turkish equivalent of small plates or tapas, and kebabs which feature pistachios, tomatoes and mushrooms. Finish off your meal with a kabak tatlisi , or candied pumpkin dessert, and a glass of Turkish tea. Notably, Ciya is also one of the first restaurants in Turkey to employ female servers.",
//         "marker-size": "medium",
//         "marker-color": "#1087bf",
//         "marker-symbol": "marker-stroked"
//       }
//     }]
//   }
//
// });
//
//
// map.addLayer({
//     "id": "juchru.mb43dc37",
//     "layout": {
//       "text-field": "{title}",
//       "text-font": "Open Sans Semibold, Arial Unicode MS Bold",
//       "text-offset": [0, 0.6],
//       "text-anchor": "top"
//     },
//     "paint": {
//       "text-size": 12
//     }
//   });
//
// });



// //Enables a pop up but needs to be specified as to location
// map.on('click', function(e) {
// var tooltip = new mapboxgl.Popup()
// .setLatLng(map.unproject(e.point))
// .setHTML('<h1>Hello World!</h1>')
// .addTo('map', [28.977499, 41.0369]);
// });

//
// var marker = L.marker([-73, 40], {
//     icon: L.mapbox.marker.icon({
//       'marker-color': '#f86767'
//     })
// });
//
// map.bindPopup('<button class="trigger"></button>')
// map.addTo("central Beyoglu");
// // The HTML we put in bindPopup doesn't exist yet, so we can't just say
// // $('#mybutton'). Instead, we listen for click events on the map element which
// // will bubble up from the tooltip, once it's created and someone clicks on it.
// $('#map').on('click', '.trigger', function() {
//     alert('Hello from Toronto!');
// });


//



</script>

</body>
</html>
