<!DOCTYPE html>
<html>
<head>
  <title>IstApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

L.mapbox.accessToken = 'pk.eyJ1IjoianVjaHJ1IiwiYSI6IjZhYzFkMThlODBjNDY1N2NkNGZiZTVlMjI4MTU2OTY1In0.N1IDr2cpaPyTtanV-K2wdw';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([0, 0], 2);

var coordinates = document.getElementById('coordinates');

var marker = L.marker([0, 0], {
    icon: L.mapbox.marker.icon({
      'marker-color': '#f86767'
    }),
    draggable: true
}).addTo(map);

// every time the marker is dragged, update the coordinates container
marker.on('dragend', ondragend);

// Set the initial marker coordinate on load.
ondragend();

function ondragend() {
    var m = marker.getLatLng();
    coordinates.innerHTML = 'Latitude: ' + m.lat + '<br />Longitude: ' + m.lng;
}




  <!-- <img src='https://a.tiles.mapbox.com/v4/mapbox.streets/11/41.0136/28.9550.png?access_token="pk.eyJ1IjoianVjaHJ1IiwiYSI6IjZhYzFkMThlODBjNDY1N2NkNGZiZTVlMjI4MTU2OTY1In0.N1IDr2cpaPyTtanV-K2wdw"' />
  <script>

    // Provide your access token
    L.mapbox.accessToken = "pk.eyJ1IjoianVjaHJ1IiwiYSI6IjZhYzFkMThlODBjNDY1N2NkNGZiZTVlMjI4MTU2OTY1In0.N1IDr2cpaPyTtanV-K2wdw";
    // Create a map in the div #map
    L.mapbox.map('map', 'juchru.63054a99'); -->

  </script>
</head>
<body>

<%= yield %>

</body>
</html>
